@import "../../index"
.container
  @extend %section
  display: flex
  flex-flow: column
  align-items: center
  text-align: center
  grid-area: about
.image
  width: 90%
  border-radius: 50%
  margin-bottom: 40px
  filter: blur(0.7px)
  transition: 0.3s
  box-shadow: 0 8px 15px 2px rgba(188, 113, 174, 0.3)
  &:hover
    box-shadow: 0 8px 15px 8px rgba(188, 113, 174, 0.3)
    filter: blur(0)
.text
  max-width: 50%
