.container
  display: flex
  flex-flow: column
  justify-content: space-between
  align-items: center
  grid-area: footer
  text-align: center
  padding: 20px 10px
  margin-bottom: 20px
  border-top: 1px solid var(--border-primary)
  border-bottom: 1px solid var(--border-primary)
.rights
  color: var(--text-faded)
.privacy
  color: var(--text-primary)
.socials
  display: flex
  justify-content: center
  align-items: center
  font-size: 2em


@media (min-width: 548px)
  .container
    flex-flow: row
  .rights
    margin: 0