#root
  display: flex
  justify-content: center
  --text-pink: rgb(188, 113, 174)
  --text-faded: rgb(173, 173, 173)
  --text-primary: #000000
  --background-primary: #FFFFFF
  --background-secondary: #f8f8f8
  --border-primary: #ECECEE
