.container
  position: relative
  display: flex
  align-items: center
  grid-area: slider
.slider
  display: flex
  margin: 0
  padding: 0
  list-style: none
  overflow: hidden
  align-items: center
  width: 100%
  height: 80vh
.btn
  position: absolute
  z-index: 1
  background: 0
  border: 1px solid var(--border-primary)
  color: var(--text-faded)
  mix-blend-mode: difference
  display: flex
  justify-content: center
  align-items: center
  font-size: 2em
.left
  left: 0
.right
  right: 0

.transition
  transition: 0.3s
.moveLeft
  margin-left: -100%
